@model Repositories.Gasto

@{
    Layout = "~/Views/Shared/_LogueadoLayout.cshtml";
    ViewBag.Title = "Crear gasto";

    Repositories.Consorcio consorcio = ViewBag.Consorcio;

    List<SelectListItem> consorcioItems = new List<SelectListItem>();
    consorcioItems.Insert(0, new SelectListItem { Value = consorcio.IdConsorcio.ToString(), Text = consorcio.Nombre });

    List<Repositories.TipoGasto> tiposGasto = ViewBag.TipoGastos as List<Repositories.TipoGasto>;

    List<SelectListItem> tipoGastoItems = tiposGasto.Select(o => new SelectListItem()
    {
        Text = o.Nombre,
        Value = o.IdTipoGasto.ToString()
    }).ToList();

    tipoGastoItems.Insert(0, new SelectListItem() { Value = "", Text = "Seleccione tipo de gasto" });
}

<section class="container bg-white rounded mb-3 p-3">
    @using (Html.BeginForm("Crear", "Gastos", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <h4>@consorcio.Nombre - Cargar Nuevo Gasto</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.IdConsorcio, "Consorcio", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("IdConsorcio", consorcioItems, htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                    @Html.ValidationMessageFor(model => model.IdConsorcio, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.IdConsorcio, new { Value = consorcio.IdConsorcio })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IdTipoGasto, "Tipo de gasto", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("IdTipoGasto", tipoGastoItems, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.IdTipoGasto, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.FechaGasto, "Fecha de gasto", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(Model => Model.FechaGasto, new { htmlAttributes = new { @class = "datefield form-control", @placeholder = "Enter start date..." } })
                    @Html.ValidationMessageFor(model => model.FechaGasto, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AnioExpensa, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.AnioExpensa, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AnioExpensa, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MesExpensa, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MesExpensa, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MesExpensa, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ArchivoComprobante, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.ArchivoComprobante, new { type = "file", name = "file" })
                    @Html.ValidationMessageFor(model => model.ArchivoComprobante, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Monto, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Monto, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Monto, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-inline">
                <div class="mx-3">
                    <input type="submit" value="Guardar" name="action:save" class="btn btn-primary" />
                </div>
                <div class="mx-3">
                    <input type="submit" value="Guardar y crear otro gasto" name="action:gasto" class="btn btn-primary" />
                </div>
                <div class="mx-3">
                    @Html.ActionLink("Cancelar", "Index", new { consorcioId = consorcio.IdConsorcio }, new { @class = "btn btn-danger" })
                </div>
            </div>
        </div>
    }
</section>
