@model Repositories.Gasto

@{
    Layout = "~/Views/Shared/_LogueadoLayout.cshtml";
    ViewBag.Title = "Eliminar gasto";
}

<section class="container bg-white rounded mb-3 p-3">
    <h3>
        Estas seguro que deseas eliminar la unidad @Html.DisplayFor(model => model.Nombre)
        del consorcio @Html.DisplayFor(model => model.Consorcio.Nombre)?
    </h3>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(u => u.IdGasto)
        @Html.HiddenFor(u => u.IdConsorcio)
        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" />
            @Html.ActionLink("Cancelar", "Index", new { id = Model.IdConsorcio }, new { @class = "btn btn-secondary" })
        </div>
    }
</section>