@model IEnumerable<Repositories.Gasto>

@{
    Layout = "~/Views/Shared/_LogueadoLayout.cshtml";
    ViewBag.Title = "Home";
}
@{Html.RenderPartial("_pv_AddGastoModal", new Repositories.Gasto());}

<div class="container my-5 bg-white rounded">
    <button type="button" class="btn btn-primary m-3" data-toggle="modal" data-target="#addGastoModal">
        Agregar Gasto
    </button>
    <table id="table" class="table table-striped table-bordered table-responsive w-100">
        <thead>
            <tr>
                <th>Año Expensa</th>
                <th>Mes Expensa</th>
                <th>Nombre</th>
                <th>Tipo Gasto</th>
                <th>Fecha Gasto</th>
                <th>Monto</th>
                <th>Archivo Comprobante</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var gasto in Model)
            {
                <div id="deleteGastoModal" class="modal" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Eliminar</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Seguro que desea eliminar</p>
                            </div>
                            <div class="modal-footer">
                                @Html.ActionLink("Delete", "Delete", "Gastos", new { id = gasto.IdGasto }, new { @class = "btn btn-danger" })
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>

                <tr>
                    <td>@gasto.AnioExpensa</td>
                    <td>@gasto.MesExpensa</td>
                    <td>@gasto.Nombre</td>
                    <td>@gasto.TipoGasto.Nombre</td>
                    <td>@gasto.FechaGasto</td>
                    <td>@gasto.Monto</td>
                    <td>@gasto.ArchivoComprobante</td>
                    <td>
                        <div class="text-center">
                            <a class="fa fa-edit text-primary m-1" href="/Gastos/Update/@gasto.IdGasto"></a>
                            <a class="fa fa-trash text-danger m-1" data-toggle="modal" data-target="#deleteGastoModal"></a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>