@model IEnumerable<Repositories.Gasto>

@{
    Layout = "~/Views/Shared/_LogueadoLayout.cshtml";
    ViewBag.Title = "Gastos";
    int consorcioId = ViewBag.ConsorcioId;
}

<section class="bg-white rounded">
    <p>
        @Html.ActionLink("Nuevo gasto", "Add", new { id = consorcioId }, new { @class = "btn btn-primary m-2" })
    </p>    
    <table id="table" class="table table-striped table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaGasto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnioExpensa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MesExpensa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArchivoComprobante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCreacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Consorcio.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoGasto.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario.Email)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaGasto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AnioExpensa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MesExpensa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArchivoComprobante)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Monto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaCreacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Consorcio.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoGasto.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario.Email)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.IdGasto }) |
                    @Html.ActionLink("Details", "Details", new { id = item.IdGasto }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.IdGasto })
                </td>
            </tr>
        }

    </table>
</section>
