@model Repositories.Gasto

@{
    Layout = "~/Views/Shared/_LogueadoLayout.cshtml";
    ViewBag.Title = "Update";

    IEnumerable<Repositories.TipoGasto> tipoGastos = ViewBag.TipoGastos as IEnumerable<Repositories.TipoGasto>;

    IEnumerable<SelectListItem> tipoGastosItems = tipoGastos.Select(o => new SelectListItem()
    {
        Text = o.Nombre,
        Value = o.IdTipoGasto.ToString()
    }).ToList();

    IEnumerable<Repositories.Consorcio> consorcios = ViewBag.Consorcios as IEnumerable<Repositories.Consorcio>;

    IEnumerable<SelectListItem> consorciosItems = consorcios.Select(o => new SelectListItem()
    {
        Text = o.Nombre,
        Value = o.IdConsorcio.ToString()
    }).ToList();
}


<form class="bg-white p-3 m-3" method="POST" action="/gastos/update" enctype="multipart/form-data">
    <div class="form-group">
        @Html.HiddenFor(Model => Model.IdGasto)
        @Html.HiddenFor(Model => Model.IdUsuarioCreador)
        @Html.HiddenFor(Model => Model.FechaCreacion)
        <label for="nombre">Nombre</label>
        @Html.EditorFor(Model => Model.Nombre, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nombre" } })
        @Html.ValidationMessageFor(Model => Model.Nombre, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label for="descripcion">Descripción</label>
        @Html.EditorFor(Model => Model.Descripcion, new { htmlAttributes = new { @class = "form-control", @placeholder = "Descripcion" } })
        @Html.ValidationMessageFor(Model => Model.Descripcion, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Tipo de gasto</label>
        @Html.DropDownListFor(Model => Model.IdTipoGasto, tipoGastosItems, new { @class = "form-control" })
        @Html.ValidationMessageFor(Model => Model.Descripcion, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Consorcios</label>
        @Html.DropDownListFor(Model => Model.IdConsorcio, consorciosItems, new { @class = "form-control" })
        @Html.ValidationMessageFor(Model => Model.IdConsorcio, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <label for="fechaGasto">Fecha Gasto</label>
        @Html.TextBoxFor(Model => Model.FechaGasto, "{0:dd/MM/yyyy}", new { @class = "datefield form-control", @placeholder = "Enter start date..." })
        @Html.ValidationMessageFor(Model => Model.FechaGasto, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label for="anoExpensa">Año Expensa</label>
        @Html.EditorFor(Model => Model.AnioExpensa, new { htmlAttributes = new { @type = "number", @min = "0", @class = "form-control" } })
        @Html.ValidationMessageFor(Model => Model.AnioExpensa, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label for="anoExpensa">Mes Expensa</label>
        @Html.EditorFor(Model => Model.MesExpensa, new { htmlAttributes = new { @type = "number", @min = "0", @max = "12", @class = "form-control" } })
        @Html.ValidationMessageFor(Model => Model.MesExpensa, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label for="monto">Monto ($)</label>
        @Html.EditorFor(Model => Model.Monto, new { htmlAttributes = new { @type = "number", @min = "0", @step = "any", @class = "form-control" } })
        @Html.ValidationMessageFor(Model => Model.Monto, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label for="file">Comprobante</label>
        <input type="file" class="form-control-file" id="file" name="file" required>
    </div>
    <div class="modal-footer">
        <a type="button" class="btn btn-secondary" data-dismiss="modal" href="/Gastos/Index">Cerrar</a>
        <button type="submit" class="btn btn-primary">Actualizar</button>
    </div>
</form>
