<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/styles/css")

</head>
<body>
    <img class="position-fixed background-picture" src="~/Assets/Pictures/fondo-edificio.png" alt="Alternate Text" />
    <div class="d-flex flex-column justify-content-center">
        @RenderSection("Header", true);
        <div class="container body-content flex-grow-1">
            @RenderBody()
        </div>
        @{Html.RenderPartial("_pv_Footer");}
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryDataTables")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/tableBootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/table")
</body>
</html>