@model Repositories.Gasto

@{ 
    IEnumerable<Repositories.TipoGasto> tipoGastos = ViewBag.TipoGastos as IEnumerable<Repositories.TipoGasto>;

    IEnumerable<SelectListItem> tipoGastosItems = tipoGastos.Select(o => new SelectListItem()
    {
        Text = o.Nombre,
        Value = o.IdTipoGasto.ToString()
    }).ToList();

    IEnumerable<Repositories.Consorcio> consorcios = ViewBag.Consorcios as IEnumerable<Repositories.Consorcio>;

    IEnumerable<SelectListItem> consorciosItems = consorcios.Select(o => new SelectListItem()
    {
        Text = o.Nombre,
        Value = o.IdConsorcio.ToString()
    }).ToList();
}

<div class="modal fade" id="addGastoModal" tabindex="-1" role="dialog" aria-labelledby="addGastoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Gasto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="modal-body" method="POST" action="/gastos/add" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    @Html.EditorFor(Model => Model.Nombre, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nombre" } })
                    @Html.ValidationMessageFor(Model => Model.Nombre, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label for="descripcion">Descripción</label>
                    @Html.EditorFor(Model => Model.Descripcion, new { htmlAttributes = new { @class = "form-control", @placeholder = "Descripcion" } })
                    @Html.ValidationMessageFor(Model => Model.Descripcion, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Tipo de gasto</label>
                    @Html.DropDownListFor(Model => Model.IdTipoGasto, tipoGastosItems, new { @class = "form-control" })
                    @Html.ValidationMessageFor(Model => Model.Descripcion, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Consorcios</label>
                    @Html.DropDownListFor(Model => Model.IdConsorcio, consorciosItems, new { @class = "form-control" })
                    @Html.ValidationMessageFor(Model => Model.IdConsorcio, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label for="fechaGasto">Fecha Gasto</label>
                    @Html.TextBoxFor(Model => Model.FechaGasto, "{0:dd/MM/yyyy}", new { @class = "datefield form-control", @placeholder = "Enter start date..." })
                    @Html.ValidationMessageFor(Model => Model.FechaGasto, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label for="anoExpensa">Año Expensa</label>
                    @Html.EditorFor(model => model.AnioExpensa, new { htmlAttributes = new { @type = "number", @min = "0", @class = "form-control" } })
                    @Html.ValidationMessageFor(Model => Model.AnioExpensa, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label for="anoExpensa">Mes Expensa</label>
                    @Html.EditorFor(model => model.MesExpensa, new { htmlAttributes = new { @type = "number", @min = "0", @max = "12", @class = "form-control" } })
                    @Html.ValidationMessageFor(Model => Model.MesExpensa, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label for="monto">Monto ($)</label>
                    @Html.EditorFor(model => model.Monto, new { htmlAttributes = new { @type = "number", @min = "0", @step = "any", @value = "0", @class = "form-control" } })
                    @Html.ValidationMessageFor(Model => Model.Monto, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label for="file">Comprobante</label>
                    <input type="file" class="form-control-file" id="file" name="file" required>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
