@model List<Repositories.Consorcio>

@{
    Layout = "~/Views/Shared/_LogueadoLayout.cshtml";
    ViewBag.Title = "Consorcios";
}

<section class="container bg-white rounded mb-3">
    <p>
        @Html.ActionLink("Crear nuevo consorcio", "Add", null, new { @class = "btn btn-primary m-2" })
    </p>
    <table id="table" class="table table-striped table-bordered table-responsive">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.First().Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Provincia.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Ciudad)
                </th>
                <th>
                    Unidades
                </th>
                <th>
                    Expensas
                </th>
                <th>
                    Gastos
                </th>
                <th>
                    Eliminar
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr>
                    <td>
                        @Html.ActionLink(item.Nombre, "Update", new { id = item.IdConsorcio })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Provincia.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ciudad)
                    </td>
                    <td>
                        @Html.ActionLink("Ver Unidades", "Index", "Unidades", new { id = item.IdConsorcio })
                    </td>
                    <td>
                        @Html.ActionLink("Ver Expensas", "Index", "Expensas", new { id = item.IdConsorcio })
                    </td>
                    <td>
                        @Html.ActionLink("Ver Gastos", "Index", "Gastos", new { id = item.IdConsorcio })
                    </td>
                    <td>
                        @Html.ActionLink(" ", "Delete", new { id = item.IdConsorcio }, new { @class = "fa fa-trash text-danger" })
                    </td>
                </tr>
            }

        </tbody>
    </table>
</section>