@model Entities.Usuario

@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
    ViewBag.Title = "Home";
}

<h1>Sistema para la Administracion de Consorcios</h1>

<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Ingresar</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Registrarse</a>
    </li>
</ul>
<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <form novalidate>
            @Html.AntiForgeryToken()
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail-ingresar">Email</label>
                    @Html.EditorFor(Model => Model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" } })
                    @Html.ValidationMessageFor(Model => Model.Email, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword-ingresar">Contraseña</label>
                    @Html.EditorFor(Model => Model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Contraseña" } })
                    @Html.ValidationMessageFor(Model => Model.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Sign in</button>
        </form>
    </div>
    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
        <form action="/Home/CrearUsuario" method="post" novalidate>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail-ingresar">Email</label>
                    @Html.EditorFor(Model => Model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" } })
                    @Html.ValidationMessageFor(Model => Model.Email, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword-ingresar">Contraseña</label>
                    @Html.PasswordFor(Model => Model.Password, new { @class = "form-control", @placeholder = "Contraseña" })
                    @Html.ValidationMessageFor(Model => Model.Password, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-6">
                    <label for="inputConfirmarPassword-registrar">Password</label>
                    @Html.PasswordFor(Model => Model.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirme Contraseña" })
                    @Html.ValidationMessageFor(Model => Model.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Sign in</button>
        </form>
    </div>
</div>