@model Repositories.Usuario

@{
    Layout = "~/Views/Shared/_AnonimoLayout.cshtml";
    ViewBag.Title = "Login";
}

<section class="container w-50 bg-white px-5 py-4 rounded">
    <h3 class="mb-4 text-center">Ingresar</h3>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-row">
            <div class="form-group col-md-12">
                @Html.LabelFor(Model => Model.Email, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(Model => Model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" } })
                @Html.ValidationMessageFor(Model => Model.Email, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-12">
                @Html.LabelFor(Model => Model.Password, htmlAttributes: new { @class = "control-label" })
                @Html.PasswordFor(Model => Model.Password, new { @class = "form-control", @placeholder = "Contraseña" })
                @Html.ValidationMessageFor(Model => Model.Password, "", new { @class = "text-danger" })
            </div>
            @if (!ViewData.ModelState.IsValid)
            {
                @Html.ValidationMessage("Error", new { @class = "error-home col-md-12" })
            }
        </div>
        <button type="submit" class="btn button-primary">Ingresar</button>
    }
    @Html.ActionLink("Todavia no te hiciste una cuenta?", "Register", "Home", null, new { @class = "navigation-color mt-3" })
</section>