@model Entities.Login.SignUp

@{
    Layout = "~/Views/Shared/_AnonimoLayout.cshtml";
    ViewBag.Title = "Register";
}

<div class="home">
    <h1 class="siblings-margin-30 text-center">Sistema para la Administración de Consorcios</h1>

    <section class="container w-50 bg-white px-5 py-4 rounded">
        <h3 class="mb-4 text-center">Registrarse</h3>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                <form action="/Home/Register" method="post" novalidate>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="inputEmail-registrar">Email</label>
                            @Html.EditorFor(Model => Model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" } })
                            @Html.ValidationMessageFor(Model => Model.Email, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-12">
                            <label for="inputPassword-registrar">Contraseña</label>
                            @Html.PasswordFor(Model => Model.Password, new { @class = "form-control", @placeholder = "Contraseña" })
                            @Html.ValidationMessageFor(Model => Model.Password, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-12">
                            <label for="inputConfirmarPassword-registrar">Password</label>
                            @Html.PasswordFor(Model => Model.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirme Contraseña" })
                            @Html.ValidationMessageFor(Model => Model.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <button type="submit" class="btn button-primary">Sign up</button>
                </form>
            </div>
        </div>
        <p class="mt-3">Ya tienes una cuenta? <a class="navigation-color" href="/Home/Index">Inicia sesion!</a></p>
    </section>
</div>
