@model IEnumerable<Repositories.Gasto>

@{
    Layout = "~/Views/Shared/_LogueadoLayout.cshtml";
    ViewBag.Title = "Home";
}

<div class="container my-5 bg-white rounded">
    <table id="table" class="table table-striped table-bordered table-responsive w-100">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Consorcio</th>
                <th>Tipo Gasto</th>
                <th>Fecha Gasto</th>
                <th>Año Expensa</th>
                <th>Mes Expensa</th>
                <th>Archivo Comprobante</th>
                <th>Monto</th>
                <th>Fecha Creación</th>
                <th>Usuario</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var gasto in Model)
            {
                <tr>
                    <td>@gasto.IdGasto</td>
                    <td>@gasto.Nombre</td>
                    <td>@gasto.Descripcion</td>
                    <td>@gasto.Consorcio.Nombre</td>
                    <td>@gasto.TipoGasto.Nombre</td>
                    <td>@gasto.FechaGasto</td>
                    <td>@gasto.AnioExpensa</td>
                    <td>@gasto.MesExpensa</td>
                    <td>@gasto.ArchivoComprobante</td>
                    <td>@gasto.Monto</td>
                    <td>@gasto.FechaCreacion</td>
                    <td>@gasto.Usuario.Email</td>
                    <td></td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Consorcio</th>
                <th>Tipo Gasto</th>
                <th>Fecha Gasto</th>
                <th>Año Expensa</th>
                <th>Mes Expensa</th>
                <th>Archivo Comprobante</th>
                <th>Monto</th>
                <th>Fecha Creación</th>
                <th>Usuario</th>
                <th>Acciones</th>
            </tr>
        </tfoot>
    </table>
</div>