@model List<Repositories.ExpensaDTO>

@{
    Layout = "~/Views/Shared/_LogueadoLayout.cshtml";
    ViewBag.Title = "Consorcios";

    Repositories.Consorcio consorcio = ViewBag.Consorcio;
}

<section class="bg-white rounded">
    <h2 class="py-2 px-3">@consorcio.Nombre - Expensas</h2>
    <p class="px-3">
        Gasto total mes actual @DateTime.Now.Month (hasta el momento): $@ViewBag.GastosTotal
    </p>
    <div class="d-flex justify-content-between px-3">
        <span>
            Unidades: @ViewBag.CantidadUnidades
        </span>
        <span>
            Monto por Unidad: @(ViewBag.GastosTotal/ViewBag.CantidadUnidades)
        </span>
    </div>
    <table id="table" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.First().AnioExpensa)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().MesExpensa)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().GastoTotal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().ExpensasPorUnidad)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AnioExpensa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MesExpensa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GastoTotal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExpensasPorUnidad)
                    </td>
                </tr>
            }

        </tbody>
    </table>
</section>

